<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Steven Warren - Developer, Dad, Overalls Advocate</title>
    <meta name="description" content="The personal website of Steven Warren. I am an Ruby and Elixir engineer who enjoys programming and camping.">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="site-container has-background-black has-text-white">
    <header>
      <nav class="navbar is-black is-fixed-bottom">
        <div class="container has-text-centered-touch">
          <div class="navbar-start">
            <a href="./" class="navbar-item navbar-link is-arrowless has-text-white">sw</a>
            <a href="./projects/" class="navbar-item navbar-link is-arrowless has-text-white">Projects</a>
            <a href="https://github.com/stevencwarren" class="navbar-item navbar-link is-arrowless has-text-white" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/stevenwarren/" class="navbar-item navbar-link is-arrowless has-text-white" target="_blank">LinkedIn</a>
            <a href="./files/StevenWarrenResume.pdf" class="navbar-item navbar-link is-arrowless has-text-white" target="_blank">Resume</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-menu">
              <%= link("Contact Me", to: "/contact", class: "navbar-item navbar-link is-arrowless") %>
              <%= if logged_in?(@conn) do %>
                <%= link("Reading List", to: "/reading-list", class: "navbar-item navbar-link is-arrowless") %>
                <%= link("Admin", to: "/admin/dashboard", class: "navbar-item navbar-link is-arrowless") %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="site-content" role="main">
      <div class="alert has-background-info has-text-white" role="alert">
        <p class="container">
          <%= get_flash(@conn, :info) %>
        </p>
      </div>
      <div class="alert has-background-danger has-text-white" role="alert">
        <p class="container"><%= get_flash(@conn, :error) %></p>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148179118-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148179118-1');
    </script>
  </body>
</html>
