<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="has-text-grey-dark">
    <header>
      <nav class="navbar is-dark">
        <div class="container">
          <div class="navbar-start">
            <div class="navbar-brand">
              <a href="/" class="navbar-item">stevencwarren</a>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-menu">
              <%= link("Reading List", to: "/reading-list", class: "navbar-item navbar-link is-arrowless") %>
              <%= link("Contact", to: "/contact", class: "navbar-item navbar-link is-arrowless") %>
              <%= if logged_in?(@conn) do %>
                <%= link("Admin", to: "/admin/dashboard", class: "navbar-item navbar-link is-arrowless") %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="alert has-background-info has-text-white" role="alert">
        <p class="container">
          <%= get_flash(@conn, :info) %>
        </p>
      </div>
      <div class="alert has-background-danger has-text-white" role="alert">
        <p class="container"><%= get_flash(@conn, :error) %></p>
      </div>
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
  </body>
</html>
