<a href="<%= @article.url %>" target="_blank">
  <%= link_text(@article) %>
</a>
<%= if @article.description do %>
  <p><%= @article.description %></p>
<% end %>
<div class="actions columns is-vcentered">
  <div class="column is-narrow">
    <%= link "Mark as Read", to: "#", class: 'button is-link' %>
  </div>
  <div class="column">
    <em>Added on <%= @article.inserted_at.year %>-<%= @article.inserted_at.month %>-<%= @article.inserted_at.day %></em>
  </div>
</div>
