/* This file is for your main application css. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');
@import "../node_modules/nord/src/sass/nord.scss";

$black: $nord0;
$black-bis: $black;
$black-ter: $black;
$grey-darker: $nord1;
$grey-dark: $nord0;
$grey: $nord3;
$grey-light: $nord4;
$grey-lighter: $nord5;
$white-ter: $nord6;
$white-bis: $nord6;
$white: #fff;
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$turquoise: $nord7;
$cyan: $nord8;
$blue: $nord9;
$purple: $nord15;
$red: $nord11;

$body-background-color: #232323;

$family-primary:'Open Sans', sans-serif;
$family-secondary: 'Roboto', sans-serif;

body {
  color: #fff;
}

.navbar {
  background-color: $body-background-color !important;
}


h1,h2,h3,h4,h5 {
  font-family: $family-secondary;
  font-weight: 400 !important;
}


@import "../node_modules/bulma/bulma";

.title {
  color: $white;
  font-weight: 200 !important;
}

.subtitle {
  color: $white;
  font-weight: 400 !important;
}

@import "./main.css";
@import "./homepage.css";
@import "./contact.css";
@import "./article.scss";
